Package: LAMPP-Manager
Version: 0.0.1
Architecture: all
Maintainer: Cleo Menezes Jr. <produtor.junior.menezes@gmail.com>
Installed-size: 1024
Depends:
Recomends:
Homepage: https://github.com/CleoMenezes/LAMPP-Manager
Priority: optional
Section: utils
Size:141
Description: A simple LAMPP manager designed to automate all the work.
Original-Maintainer: Cleo Menezes Jr. <produtor.junior.menezes@gmail.com>
